PORT=5000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3308
DB_NAME=dukteksi_db
DB_USER=root
DB_PASSWORD=

# Auth
JWT_SECRET=ganti_dengan_random_string_yang_sangat_rahasia
JWT_EXPIRES_IN=8h
COOKIE_SECURE=false

# Frontend
FRONTEND_URL=http://localhost:5173

# Seed admin awal (dipakai oleh npm run seed)
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_EMAIL=admin@dukteksi.mil.id
SEED_ADMIN_PASSWORD=UbahPasswordIni123!
SEED_ADMIN_FULLNAME=Administrator Dukteksi
